<%- include("./include/headfile.ejs") %>
<body style="background-image: url(https://images.unsplash.com/photo-1523712999610-f77fbcfc3843?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;" >
    <%- include("./include/navbar.ejs") %>
     


    <div style="height: 50vh; width: 100vw; background-color: rgb(254, 66, 77,0.5);display: flex; flex-wrap: wrap;position: relative;top:10vh">

        <div id="maintitle" style=" height: 50vh;  
        width: 50vw;text-align: center;display: flex;justify-content: center;flex-direction: column;">
        <h2 style="font-weight: 900;color: aliceblue;font-size: 7vw;text-shadow: 5px 5px 10px black;font-family:banyu langits;">WANDERLUST</h2>
        <div style="text-align: start;font-weight: 500;color: aliceblue;text-shadow: 5px 5px 10px ;font-size: 2vw;">
            “Hi, I’m Shivang. My first project is a wanderlust website,
             born from my passion for travel and web design. It blends creativity 
             and functionality, offering inspiration and resources for fellow explorers on 
             their adventures.”</div></div>

             
             <div id="xxx" style="height: 50vh; width: 50vw;background-image: url(https://images.unsplash.com/photo-1539634262233-7c0b48ab9503?q=80&w=2025&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
             border-radius: 500px 0px 0px 500px; background-size:cover;">
              
             </div>

             <a id="land" href="/listings" style="height: 7vh;width: 25vh;background-color: blueviolet; 
             margin-top: 5vh;left: 10vw;position: relative;font-size: 3vh;text-decoration: none;z-index: 1;overflow: hidden;
             color: aliceblue;display: flex;justify-content: center;align-items: center;border-radius: 30px;
             font-weight: 600;text-shadow: 5px 5px 10px black;box-shadow: 5px 5px 10px black;background-color: rgb(254, 66, 77,0.4);">
                GET STARTED</a>

   








</body>
<script src="/code.js"></script>
</html> 