<div  id="footer">
<div class="foottext">English(IN) INR <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-twitter"></i> </div>
<div class="foottext" >Wanderlust Private Limited</div>

<div> 
    <a class="footlink" href="#">Privacy</a>.
    <a class="footlink" href="#">Terms</a>.
    <a class="footlink" href="#">Sitemap</a>.
    <a class="footlink" href="#">Company Details</a>
</div>
</div>